@import "../../css/colors"

.app-live-sort
  width: 100vw
  height: 100vh
  background-color: $dark-grey
  transition: margin-left .5s

  //&_nav_visible
  //  display: grid
  //  grid-template-columns: 3fr 9fr
  //  grid-template-rows: auto

  //h
  //&__block-1
  //  background-color: red
  //&__block-2
  //  background-color: blue