//@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap')
@import "./css/colors"

*, body
  font-family: "Open Sans", sans-serif
  font-size: 20px
  font-weight: 400

a
  color: $beige
  text-decoration: none
  transition: 0.5s
  &:hover
    color: $soft-beige

/********************************* COMMON *********************************/
.b_hidden
  opacity: 0.0
  transition: 0.5s

.b_unselectable
  user-select: none
  outline: none

/********************************* TEXT ***********************************/
.text
  font-size: 16px
  color: $white
  transition: 0.5s
  &_hover
    &:hover
      color: $soft-beige
      cursor: pointer
  &_main
    color: $soft-beige
  &_muted
    color: $grey
  &_fancy
    // https://codepen.io/trys/pen/vjRXLW/
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    text-align: center
    &:before, &:after
      content: ''
      border-top: 2px solid
      margin: 0 20px 0 0
      flex: 1 0 20px
    &:after
      margin: 0 0 0 20px

.text-block
  & + &
    margin-top: 20px
  &__paragraph
    text-align: left
    justify-content: flex-start
    //line-height: 1px
    & + &
      margin-top: 10px


.subtext
  font-size: 14px
  color: $grey
  transition: 0.5s

.header
  font-size: 20px
  color: $white
  transition: 0.5s

/********************************* BLOCK **********************************/
.block
  display: flex
  justify-content: center
  align-items: center
  align-content: center
  flex-wrap: wrap
  &_expanded
    padding: 20px

/********************************* BUTTON *********************************/
.btn
  color: $white
  outline: none
  user-select: none
  padding: 15px
  background-color: $beige
  border: none
  border-radius: 15px
  transition: 0.5s
  &:hover
    cursor: pointer
    background-color: $dark-beige
  & + &
    margin-left: 10px

  &_inline
    background-color: transparent
    &:hover
      background-color: transparent
      color: $soft-grey

/********************************* LOGO *********************************/
.logo
  width: 10rem
  height: 10rem
  opacity: 0.7
  object-fit: contain
  transition: 1s
  &:hover
    opacity: 1.0
    cursor: pointer